OPENAI_API_KEY=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|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|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|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